@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url('../fonts/NanumSquareR.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  src: url('../fonts/NanumSquareL.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;

  src: url('../fonts/NanumSquareB.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: url('../fonts/NanumSquareEB.ttf') format('truetype');
}
